<div class="main">
    <section class="title">
        BIENVENIDOS A TEXT ENCRYPT UADEO
    </section>
    <section class="information">
        <p>
            Este es un proyecto para la materia de criptografia en el 6to semestre en
            la Universidad Autonoma de Occidente, con la profesora Luisa Marcella Gaxiola.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nostrum accusamus fugiat at numquam placeat, tempora vitae obcaecati 
            minima a atque! Nulla aliquid atque dolores veritatis numquam eos, 
            vero dolore. Possimus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nostrum accusamus fugiat at numquam placeat, tempora vitae obcaecati 
            minima a atque! Nulla aliquid atque dolores veritatis numquam eos, 
            vero dolore. Possimus.
        </p>
    </section>
    <button (click)="navigateTo()" class="green-button">Encriptar ahora</button>
</div>